<link href="cart.css" rel="stylesheet" type="text/css" />
<h1>List Cart</h1>

<div class="card_carts">
  <% for(let product of carts) { %>
  <div>
    <h4><b> <%= carts.name %></b></h4>
    <p><%= carts.price %></p>
    <p><%= carts.brand %></p>
    <p><%= carts.description %></p>
  </div>
</div>
