<link href="../public/cart.css" rel="stylesheet" type="text/css" />
<h1>List Cart</h1>

<div class="card_carts">
  <% for(let cart of carts) { %>
  <div>
    <h4><b> <%= cart.name %></b></h4>
    <p><%= cart.price %></p>
    <p><%= cart.brand %></p>
    <p><%= cart.description %></p>
  </div>
  <% } %>
</div>
