<link href="/style.css" rel="stylesheet" type="text/css" />
<h1 class="title">Welcome to Bingleshop</h1>
<h4>Please buy anything you want</h4>

<p>Berikut adalah list product:</p>
<div class="card-container">
  <% for(let product of products) { %>
  <div class="card">
    <img src="https://pbs.twimg.com/media/FnXVKoiX0AIlG7Y.png" alt="Avatar" />
    <div class="container">
      <h4><b> <%= product.name %></b></h4>
      <p><%= product.price %></p>
    </div>
    <div>
      <form method="post" action="/api/cart">
        <input type="hidden" name="productId" value="<%= product.id %>" />
        <label for="quantity">Quantity</label>
        <input type="text" name="quantity" />
        <button type="submit">Add Cart</button>
      </form>
    </div>
  </div>
  <% } %>
</div>
