<link href="/style.css" rel="stylesheet" type="text/css" />
<h1 class="title">Welcome to Bingleshop</h1>
<h4>Please buy anything you want</h4>

<p>Berikut adalah list product:</p>
<table>
  <% for(let product of products) { %>
  <div class="card">
    <img src="img_avatar.png" alt="Avatar" style="">
    <div class="container">
        <h4><b> <%= product.name %></b></h4>
        <p><%= product.price %></p>
    </div>

  <% } %>
</table>
